<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PlotMyCourse</title>

    @vite(['resources/css/landing.css'])
  </head>
  <body>
    <header class="bg-white">
      <nav class="flex items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
          <a href="{{ route('landing') }}" class="-m-1.5 p-1.5">
            <span class="sr-only">PlotMyCourse</span>
            <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-auto">
              <circle cx="6" cy="19" r="3" />
              <path d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15" />
              <circle cx="18" cy="5" r="3" />
            </svg>
          </a>
        </div>
        <div class="flex flex-1 justify-end gap-4">
          <a href="{{ route('register.show') }}" class="text-sm font-semibold leading-6 text-gray-900">
            Register
          </a>
          <a href="{{ route('login.show') }}" class="text-sm font-semibold leading-6 text-gray-900">
            Login <span>&rarr;</span>
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>